{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}<title>Artyel- Password reset complete</title> {% endblock %}


{% block body %}

        <div class="m-portlet">

                <div class="alert alert-danger" role="alert" align="center">
                <p>
                    {% if request.session.lang == "en" %}
                                                 <strong>{% trans "Your password has been reset! You may now log in." %}</strong>
                                            {% else %}
                                                <strong>{% trans "Şifreniz değiştirildi. Yeni şifreniz ile giriş yapabilirsiniz." %}</strong>
                                            {% endif %}
                </p>
                </div>
        </div>
        <div align="center">
            {% if request.session.lang == "en" %}
                You may now
            {% else %}
                Artık
            {% endif %}

            <a href="/accounts/login" class="m-nav__link m-dropdown__toggle">
                <span class="m-nav__link-icon m-nav__link-icon--aside-toggle">
                    <span class="m-nav__link-icon-wrapper">
                        <button type="button" class="btn m-btn--pill m-btn--air btn-danger">
                            {% if request.session.lang == "en" %}
                                                 Sign In
                                            {% else %}
                                                Giriş Yapabilirsiniz.
                                            {% endif %}

                        </button>
                    </span>
                </span>
            </a>
        </div>


{% endblock %}


{# This is used by django.contrib.auth #}
