{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}<title>Artyel- Change password</title> {% endblock %}


{% block body %}


<div class="m-portlet">
                <div class="m-grid m-grid--hor m-grid--root m-page">
                    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login" >
                        <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
                            <div class="m-login__container">
                                <div class="m-login__logo">
                                    <a href="#">
                                     <img src="https://s3.eu-central-1.amazonaws.com/artyel-s3/media/img/logo/favicon(5).ico">
                                    </a>
                                </div>
                                <div class="m-login__signin">
                                    <div class="m-login__head">
                                        <h3 class="m-login__title">
                                            {% if request.session.lang == "en" %}
                                                Password Change
                                            {% else %}
                                                Şifre Değiştirme
                                            {% endif %}
                                        </h3>
                                    </div>
                                    {% if form.errors%}
                                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        </button>
                                        <strong>{% if request.session.lang == "en" %}
                                                Warning!
                                            {% else %}
                                                Hata!
                                            {% endif %}</strong>


                                        {% if request.session.lang == "en" %}

                                            {% language 'en' %}
                                                 {{form.errors}}

                                             {% endlanguage %}

                                        {% else %}
                                                {% language 'tr' %}
                                                {{form.errors}}

                                                {% endlanguage %}

                                        {% endif %}


                                    </div>
                                    {%endif%}
                                    <form method="post" class="m-login__form m-form" action="">
                                        {% csrf_token %}
                                        <div class="form-group m-form__group">
                                            <input class="form-control m-input" type="password" {% if request.session.lang == "en" %}
                                                placeholder="Old Password"
                                            {% else %}
                                                placeholder="Eski Şifreniz"
                                            {% endif %}  name="old_password">
                                            {% if request.session.lang == "en" %}

                                                                            {% language 'en' %}
                                                                                                                        {{form.old_password.help_text |safe}}

                                                                            {% endlanguage %}

                                                                            {% else %}
                                                                                {% language 'tr' %}
                                                                                                                           {{form.old_password.help_text |safe}}

                                                                            {% endlanguage %}

                                                                            {% endif %}
                                            <!--{{form.password1.errors}}-->
                                        </div>
                                        <div class="form-group m-form__group">
                                            <input class="form-control m-input m-login__form-input--last" type="password" {% if request.session.lang == "en" %}
                                               placeholder="New Password"
                                            {% else %}
                                               placeholder="Yeni Şifre"
                                            {% endif %} name="new_password1">
                                            {% if request.session.lang == "en" %}

                                                                            {% language 'en' %}
                                                                                {{form.new_password1.help_text|safe}}
                                                                            {% endlanguage %}

                                                                            {% else %}
                                                                                {% language 'tr' %}
                                                                                {{form.new_password1.help_text|safe}}
                                                                            {% endlanguage %}

                                                                            {% endif %}
                                            <!--{{form.password2.errors}}-->
                                        </div>
                                        <div class="form-group m-form__group">
                                            <input class="form-control m-input m-login__form-input--last" type="password"
                                                   {% if request.session.lang == "en" %}
                                                placeholder="New Password Confirmation"
                                            {% else %}
                                                placeholder="Yeni Şifrenizi Tekrar Giriniz"
                                            {% endif %} name="new_password2">
                                            {% if request.session.lang == "en" %}

                                                                            {% language 'en' %}
                                                                                {{form.new_password2.help_text}}

                                                                            {% endlanguage %}

                                                                            {% else %}
                                                                                {% language 'tr' %}
                                                                        {{form.new_password2.help_text}}

                                                                            {% endlanguage %}

                                                                            {% endif %}
                                            <!--{{form.password2.errors}}-->
                                        </div>
                                        <div class="m-login__form-action">
                                            <button id="m_login_signin_submit" class="btn btn-danger m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">{% if request.session.lang == "en" %}
                                               Change
                                            {% else %}
                                                Değiştir
                                            {% endif %}</button>
                                            <input type="hidden" name="next" value="{{ next }}" />
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



<!--<form method="post" action="">-->
    <!--{% csrf_token %}-->
    <!--{{ form.as_p }}-->
    <!--<input type="submit" value="{% trans 'Change password' %}" />-->
<!--</form>-->
{% endblock %}


{# This is used by django.contrib.auth #}
