{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}<title>Artyel- Password changed</title> {% endblock %}


{% block body %}
<div class="m-portlet">

        <div class="alert alert-danger" role="alert" align="center">
            <p>
                {% if request.session.lang == "en" %}
			<strong><p>{% trans "Password successfully changed!" %}</p></strong>
		{% else %}
			<strong><p>{% trans "Şifreniz başarıyla değiştirildi!" %}</p></strong>
		{% endif %}

            </p>
        </div>
    </div>

{% endblock %}


{# This is used by django.contrib.auth #}
