{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}

   <title>Artyel- Password Reset</title>


 {% endblock %}


{% block body %}
<div class="m-portlet">

        <div class="alert alert-danger" role="alert" align="center">
        <p>
            {% if request.session.lang == "en" %}
                {% blocktrans %}
                We have sent you an email with a link to reset your password. Please check
                your email and click the link to continue.
                {% endblocktrans %}
            {% else %}
                Şifre sıfırlama isteğiniz üzere size bir e-mail gönderdik. Lütfen mail adresinizi kontrol edip gelen linke tıklayınız.<br>
            {% endif %}

        </p>
        </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
